{% extends "maqueta.html" %}
{% load staticfiles %}
{% block principal %}
<section class="main">
    <article class="derecha"> <!--Articulo llamado derecha que tiene todo su contenido de lado derecha -->
        <h2>Rescate</h2>
        <h4>Etapa 1</h4>
        <hr>  </hr>
        <p>Rescatamos perros en situación de peligro y/o abandono. Los rehabilitamos y los preparamos para buscarles un hogar.</p>
        <br>
        <img src="{% static 'images/Perrocamara.jpg' %}" width="180" height="100" >			
    </article>
    
    <article class= "izquierda"><!--articulo llamado izquierda y tiene todo su contenido de lado izquierdo contiene -->
        <img src="{% static 'images/comidaperro.jpg' %}" width="180" >
        <h2>CrowdFunding</h2>
        <h4>Financiamiento</h4>
        <hr>  </hr>
        <p>Sigue nuestras redes sociales para informarte acerca de las diversas campañas y actividades que realizaos para obteer financiamiento para seguir ayudando.</p>
        <h3>Campaña</h3>
    </article>
</section>
{% endblock %}